* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #8d99ae;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.frame {
  position: relative;
  width: 800px;
  height: 550px;
  background-color: #f8f9fa;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 14px 15px 44px rgba(0, 0, 0, 0.1),
    55px 59px 81px rgba(0, 0, 0, 0.09),
    123px 134px 109px rgba(0, 0, 0, 0.05),
    219px 238px 129px rgba(0, 0, 0, 0.01),
    342px 371px 141px rgba(0, 0, 0, 0);
}

.header {
  background-color: #2b2d42;
  height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.container {
  position: relative;
  z-index: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  text-align: left;
}

h1 {
  font-family: "Helvetica Compressed", sans-serif;
  font-size: 47px;
  font-weight: 500;
  line-height: 58px;
  color: #0c0f13;
  width: 699px;
  height: 174px;
  position: absolute;
  top: 115px;
  left: 35px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-top: 295px;
}

.btn {
  font-family: "IBM Plex Mono", monospace;
  background-color: #edf2f4;
  border: none;
  border-radius: 25px;
  padding: 15px 40px;
  font-size: 27px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 300px;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 7px rgba(13, 13, 13, 0.29),
    9px 9px 13px rgba(13, 13, 13, 0.26),
    20px 21px 17px rgba(13, 13, 13, 0.15),
    35px 37px 20px rgba(13, 13, 13, 0.04),
    55px 58px 22px rgba(13, 13, 13, 0.01);
}

.btn.primary {
  background-color: #2b2d42;
  color: #fff;
}

.btn:hover {
  background-color: #adb5bd;
}

.btn.primary:hover {
  background-color: #495057;
}

.background-image {
  position: absolute;
  z-index: 0;
  width: 600px;
  height: 280px;
  background-image: url("https://s3-alpha-sig.figma.com/img/516c/77b9/538b1842880ae60c121d81e1bf93dae3?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JemQX-auxkF4lOhih8vlLwsvOZBV8190JGZNDHKg52UaXI3Rj72TNp2MQF~l3z1SiNxYcXd~PdO2opKKMjgcHaRnyQiuSggtP7sYkI6mnu660qFdnErched2QI~~wwapn9GwZDrrucbL~P2NZkXC3Asnc2KTJYRc-ftr-bUGLRRodq3CRv7mTbuo9TQhQoEBxXfThN61HsRsmtExDYgCKhpBquPzvQWwSTSvj~YltjDxk8tA6lIdFBcEEMSVltJkRf9gsGmGGMqZkubHLHpqj-RLIFGVMLbIhVuLExDGsCSbASRcyF-JZKAdpu7pzsVuUEpWqzURCGxey07uOQFbMg__");
  background-size: cover;
  opacity: 50%;
}

.background-image.top-right {
  top: -90px;
  right: -100px;
  transform: rotate(20deg);
}

.background-image.bottom-left {
  bottom: -90px;
  left: -100px;
  transform: rotate(19deg);
}
